/* GENERALS */

*,
*::before,
*::after {
	box-sizing: border-box;
}
:root {
	--ff-primary: 'Source Sans Pro', sans-serif;
	--ff-secondary: 'Poppins', sans-serif;

	--fw-reg: 300;
	--fw-bold: 900;

	--clr-light: #FFF;
	--clr-dark: #101010;
	--clr-accent: rgb(0, 158, 197);

	--fs-h1: 4rem;
	--fs-h2: 3rem;
	--fs-h3: 2rem;
	--fs-body: 1rem;

	--bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 0.125em 0.125em rgba(0,0,0,.15);
}

@media (min-width:  800px) {
	:root {
		--fs-h1: 6rem;
		--fs-h2: 4rem;
		--fs-h3: 3rem;
		--fs-body: 1rem;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	background:  var(--clr-dark);
	color:  var(--clr-light);
	margin: 0;
	font-family: var(--ff-secondary);
	font-size: var(--fs-body);
	line-height: 1.6;

}


img {
	display: block;
	max-width: 100%;
}


strong  {font-weight:  var(--fw-bold)}

:focus {
	outline: 3px solid var(--clr-accent);
	outline-offset: 3px;
}


h1,
h2,
h3 {
	line-height: 1;
	margin: 0;

}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

/* TOP */

header {
	color: rgb(108,206,231);
	border-bottom: solid white 1px;
}

.title {
	text-align: center;
	padding: 20px;
}


.subtitle {
	text-align: center;
	margin-bottom: 50px;
}


/* HEADER ROLES */

.role {
	padding: 30px;
	padding-top: 50px;
	text-align: center;
	font-weight: 900;
	font-family: var(--ff-primary);
}

.role::after {
	content: '';
	display: block;
	width: 3em;
	height: 2px;
	margin: 1em auto 0;
	background: var(--clr-light);
}

/* MAIN */

.main {
	background-color: var(--clr-dark);
	background-image: url(../img/icecrown.jpg) ;
	background-size: cover;
	background-blend-mode: multiply;
	justify-content: center;
	color: var(--clr-light);
}

.player {
	font-weight: var(--fw-reg);
}


.player_class {
	color: var(--clr-dark);
	transform: scaleX(0);
	transform-origin: left;
	animation: animate 1s 1.5s cubic-bezier(1, 0.0, 0.5, 1.0) forwards;
	padding: .25em 1em;
	font-family: var(--ff-primary);
	margin-bottom: 1em;
	font-size: var(--fs-body);
	max-width: 80vw;
}


.player_name {
	animation: fadeIn 2s ease forwards;
}

.avatar {
	box-shadow: var(--bs);
	animation: fadeIn 1s;
	max-width: 30vw;
}


.grid {
	display:  grid;
	padding: 5em 2em;
	width:  min-content;
	margin: 0 auto;
	grid-column-gap: 1em;
	grid-template-areas:
		"img title"
		"img subtitle";
	grid-template-columns: min-content max-content;
}

.avatar {
	grid-area: img;
	width:  150px;
		position: relative;

}

.player_class {
	align-self:  start;
	grid-column: -1 / 1;
	grid-row: 2;
	text-align: right;
	position:  relative;
	left: -1.5em;
	width: 35em;
}



/* CLASSES */

.warrior {
	background-color: #C69B6D;
}

.paladin {
	background-color: #F48CBA;
}

.dk {
	background-color: #C41E3A ;
}

.shaman {
	background-color: #0070DD;
}

.mage {
	background-color: #3FC7EB; 
}


/* FOOTER */

footer {
	border-top: solid white 1px;
	margin: auto;
}

.logo {
	margin: 1em auto;
	width: 150px;
}

/* ANIMATIONS */

@keyframes animate {
	100%{
		transform: scaleX(1);
	}
}


@keyframes fadeIn {
  0% { opacity: 0; }
  66% { opacity:0; }
  100% { opacity: 1; }
}

/* RESPONSIVE BULLSHIT */

@media (min-width: 1200px) {
	.dpslist {
		display: flex;
		margin: auto;
		justify-content: center;
	}

	.roleflex {
		display: flex;
		flex-flow: row wrap;
		align-content: space-between;
  	justify-content: space-between;
  	max-width: 50vw;
  	margin: auto;
	}
}


/* SNOW */

canvas {
	position: fixed;
	z-index: -2;
}
